:root {
  --turquoise: hsla(176, 72%, 56%, 1);
  --ming: hsla(189, 27%, 38%, 1);
  --black-chocolate: hsla(71, 52%, 4%, 1);
  --blue-violet-color-wheel: hsla(292, 81%, 21%, 1);
  --magenta-dye: hsla(324, 83%, 45%, 1);
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

body {
  font-family: 'Alata', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.name { 
  background: #222 url(/pexels-lisa-fotios-2575758.jpg);
  background-size: 50% 200%;
  background-position: center;
  background-clip: text;
  color: rgb(0 0 0 / 0%);
  font-family: 'Zeyada', cursive;
  font-size: 15vw;
  position: relative;
  text-align: left;
  margin: 0;
  line-height: 1.2;
  padding-left: 5%;
}

.headername {
  grid-column: 1 / 2;
  background: #222 url(/pexels-lisa-fotios-2575758.jpg);
  background-size: 25% 50%;
  background-position: center;
  background-clip: text;
  color: rgb(0 0 0 / 0%);
  font-family: 'Zeyada', cursive;
  font-size: 5vw;
  position: relative;
  text-align: left;
  margin: 0;
  line-height: 1.5;
  padding-left: 2%;
  justify-self: start;
}

.navbar {
  padding: .5em;
  display: grid;
  grid-template-columns: 1fr repeat(4, fit-content(50px));
  grid-gap: 1em;
  justify-content: end;
  justify-items: center;
  list-style-type: none;
  font-size: 1.3em;
}

.subtitle {
  font-size: 7vw;
  text-align: right;
  margin: 0 0 1rem 0;
  color: var(--magenta-dye);
  text-transform: uppercase;
  padding-right: 5%;
}

.spin {
  animation: 0.8s linear 0s spin;
}

@keyframes spin {
  from {
    color: var(--magenta-dye);
    transform: rotateY(90deg);
  }
  to {
    color: var(--magenta-dye);
    transform: rotateY(0deg);
  }
}

.line {
  height: 1px;
  width: 100%;
  background: #ffffff;
  background: linear-gradient(to right,#ffffff 0%, #000000 50%, #ffffff 100%);
  background: -webkit-linear-gradient(to right,#ffffff 0%, #000000 50%, #ffffff 100%);
  background: -moz-linear-gradient(to right,#ffffff 0%, #000000 50%, #ffffff 100%);
  margin: 0 auto;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
