* {
    box-sizing: border-box;
}

body {
    background: rgb(215,193,255);
    background: radial-gradient(circle, rgba(215,193,255,1) 0%, rgba(255,255,255,1) 100%);
    font-family: "Montserrat", Verdana, sans-serif;
    margin: 0;
}

h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

h2 {
    text-decoration: underline black dotted;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github  {
    background: transparent;
}

.fa-twitter {
    background: transparent;
    color: #55ACEE;
}

.fa-linkedin {
  background: transparent;
  color: #007bb5;
}

.information {
    padding: 3em 0 1em 0;
}

.aboutMe {
    background-color: #f7fee6;
    border: 0.5em solid #faf1eb;
    border-radius: 50px / 15px;
    margin: auto;
    max-width: 66%;
    padding: 1em;
    text-align: center;
    color: #000;
    position: relative;
    z-index: 1;
}

.devto  {
    height: 1.3em;
    background-color: white;
    border-radius: 6px;
}