html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.icon-bar {
  background-color: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding-left: 1%;
  padding-right: 1%;
  position: fixed;
  display: block;
  justify-content: center;
  left: 35%;
  z-index: 1;
}

.icon-bar a {
  box-sizing: border-box;
  color: #8f00ff;
  text-align: center;
  text-decoration-line: none !important;
  transition: all 0.3s ease;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: #00b7ff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.fab {
  display: inherit !important;
}

.tm-container {
  background-color: white;
  max-width: 1400px;
}

.tm-site-title {
  color: #ff0052;
  font-size: 3rem;
}

.tm-site-subtitle {
  color: #00b7ff;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.tm-section-1 {
  height: 750px;
  background-image: url(pexels-photo-406014lum3n.jpeg);
  background-size: cover;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
  background-repeat: no-repeat;
  padding-top: 75px;
}

.tm-section-3 {
  height: 790px;
  background-image: url(pexels-photo-662417amal.jpeg);
  background-size: cover;
  -webkit-clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
  clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.tm-color-primary {
  color: #cc0064;
}

.tm-color-secondary {
  color: #00b7ff;
}

.tm-btn-primary {
  color: white;
  background-color: #cc0064;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  background-color: #f21b85;
}

.tm-btn-secondary {
  color: white;
  background-color: #00b7ff;
}

.tm-btn-secondary:hover,
.tm-btn-secondary:focus {
  background-color: #44cbf1;
}

.tm-bg-circle-white {
  background-color: white;
  color: #152f00;
  padding: 75px 81px 75px 90px;
  border-radius: 50%;
  width: 550px;
  height: 550px;
}

.tm-bg-circle-pad-2 {
  padding-left: 120px;
}

.btn {
  padding: 10px 30px;
  font-size: 1.15rem;
  font-weight: 300;
  border-radius: 8px;
}

a.btn:hover {
  color: white;
}

.tm-flex-center-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tm-text-container {
  max-width: 420px;
}

.tm-circle-img {
  width: 550px;
}

.tm-circle-img-container {
  text-align: right;
}

.tm-footer-link {
  color: #8f00ff;
  text-decoration: underline;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #cc0064;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .container {
    max-width: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}

@media (max-width: 992px) {
  .tm-bg-circle-white {
    margin-left: auto;
    margin-right: auto;
  }

  .tm-section-left {
    margin: 50px auto;
  }

  .tm-circle-img-container {
    text-align: center;
  }

  .tm-footer-text {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .tm-bg-circle-white {
    border-radius: 100px;
    width: 100%;
    height: auto;
    padding: 50px;
  }

  img {
    max-width: 100%;
  }

  .tm-section-1,
  .tm-section-3 {
    height: auto;
  }

  .tm-section-1 {
    padding-bottom: 90px;
    -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 0px, 100% 92%, 0px 100%);
  }

  .tm-section-3 {
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-clip-path: polygon(0px 0px, 100% 8%, 100% 92%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 8%, 100% 92%, 0px 100%);
  }

  .tm-circle-img-container {
    margin-bottom: 30px;
  }
}

.calendar {
  font-family: Helvetica, arial;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #aaa;
}

.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.text-small {
  font-size: 12px;
  color: #767676;
}

.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #333;
}

.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

.monospace a {
  color: #1D75AB;
  text-decoration: none;
}

.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #767676;
}

.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}

.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
  display: none;
}

.float-left.text-gray {
  float: left;
}

#user-activity-overview {
  display: none;
}