* {
    box-sizing: border-box;
}

body {
    background-color: #513c66;
    font-family: "Montserrat", Verdana, sans-serif;
    margin: 0;
}

h1 {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

h2 {
    text-decoration: underline black dotted;
}

.information {
    padding: 3em 0 1em 0;
    background-color: #513C66;
    overflow: hidden;
}

.aboutMe {
    background-color: #68537c;
    border: 0.5em solid white;
    border-radius: 50px / 15px;
    margin: auto;
    max-width: 66%;
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 1;
}

footer  {background-color: #513C66;}